<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation"></nav>
    <div th:replace="fragments :: error"></div>
    <p th:unless="${cheeses} and ${cheeses.size()}">no cheeses :(</p>
    <table class="table" th:unless="!${cheeses} or !${cheeses.size()}">
        <tr>
            <th>Cheese</th>
            <th>Description</th>
            <th>Category</th>
            <th>Rating</th>
            <th>Edit</th>
        </tr>
        <tr th:each="cheeseItem : ${cheeses}">
            <td th:text="${cheeseItem.name}">Cheese</td>
            <td th:text="${cheeseItem.description}">Description</td>
            <td>
                <a th:text="${cheeseItem.category.name}" th:href="@{/cheese/category/{id} (id=${cheeseItem.category.id})}"></a>
            </td>
            <td th:text="${cheeseItem.rating}"></td>
            <td><a th:href="@{/cheese/edit/{id}(id=${cheeseItem.id})}">edit</a></td>

        </tr>
    </table>
    <a th:href="@{/cheese/add}">Add</a> |
    <a th:href="@{/cheese/remove}">Remove</a>
</body>
</html>